<div>
    <h4>Template Driven Form</h4>
</div>
<form [style.border]="(frm.pristine || frm.valid) ? brdValid : brdInvalid" #frm="ngForm" (ngSubmit)="frmSub(frm)">
    <div class="frm">
        <input [style.border]="usNm.valid ? brdValid : brdInvalid" type="text" name="userName" placeholder="Username"
            #usNm="ngModel" required ngModel>
        <input [style.border]="em.valid ? brdValid : brdInvalid" type="text" name="email" placeholder="Email"
            #em="ngModel" ngModel required>
    </div>
    <div class="frm">
        <input [style.border]="mb.valid ? brdValid : brdInvalid" type="text" name="mobile" placeholder="Mobile"
            #mb="ngModel" ngModel required>
        <input [style.border]="pass.valid ? brdValid : brdInvalid" type="text" name="password" placeholder="Password"
            #pass="ngModel" ngModel required>
    </div>
    <div class="frm">
        <input type="checkbox" value="plc" name="device" ngModel (ngModelChange)="chkCh($event)">
        <select name="dvType" ngModel (ngModelChange)="chkCh($event)">
            <option> Laptop </option>
            <option> Desktop </option>
            <option> Mobile </option>
        </select>
    </div>
    <div class="frm mg">
        <input type="submit">
    </div>
</form>