<div>
    <h4>Reactive Form</h4>
</div>
<form [style.border]="fg.valid ? brdValid : brdInvalid" [formGroup]="fg" (ngSubmit)="frmSb()">
    <div class="frm">
        <input type="text" [style.border]="ctrl('userName').valid ? brdValid : brdInvalid " formControlName="userName"
            placeholder="Username">
        <input type="text" [style.border]="ctrl('email').valid ? brdValid : brdInvalid " formControlName="email"
            placeholder="Email">
    </div>
    <div class="frm">
        <input type="text" formControlName="mobile" placeholder="Mobile">
        <input type="text" formControlName="password" placeholder="Password">
    </div>
    <div class="frm">
        <input type="checkbox" value="plc" formControlName="device">
        <select formControlName="dvType">
            <option> Laptop </option>
            <option> Desktop </option>
            <option> Mobile </option>
        </select>
    </div>
    <div class="frm brd pd">
        <input type="button" value="Add" (click)="addItem()">
    </div>
    <div class="brd pd" formArrayName="items">
        <div *ngFor="let it of dynItms().controls; let id = index">
            <input type="text" [formControlName]="id">
        </div>
    </div>
    <div class="frm mg">
        <input type="submit">
    </div>
</form>