<!-- <div class="cnt-cntr">
  <h1> welcome to {{framework}} {{version}} </h1>
</div>
<div>
  <ul>
    <li *ngFor="let lb of libs">{{lb.toUpperCase()}}</li>
  </ul>
</div>
<div class="cnt-cntr mgb">
  <input type="text" *ngIf="isVs">
</div>
<div id="dv">
  <p> Date is : {{dt | date:"dd MMM yyyy"}} </p>
  <p> Framework is : {{framework | uppercase}} </p>
  <p> Amount is : {{amt | currency:"INR"}} </p>
  <p> Sub : {{ (framework | slice:2) | uppercase }} </p>
</div> -->

<div class="cnt-cntr">
  <a [routerLink]="['/contact', 10]" [routerLinkActive]="'active'">Contact</a>
  <a [routerLink]="['/home']" [routerLinkActive]="'active'">Home</a>
  <a [routerLink]="['/about']" [routerLinkActive]="'active'">About</a>
</div>

<div class="cnt-cntr">
  <a [routerLink]="['/tmp']" [routerLinkActive]="'active'">Template Driven</a>
  <a [routerLink]="['/rct']" [routerLinkActive]="'active'">Reactive</a>
</div>


<router-outlet></router-outlet>