.cnt-cntr {
    border: 1px solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

.mgb {
    padding: 30px;
}

.active {
    color: red;
}
