<div class="row">
    <div class="box" [style.backgroundColor]="clr" (mouseenter)="clr='white'">
        box1
    </div>
    <div class="box" style="{{bg}}">
        box2
    </div>
    <div class="box" [style]="bg">
        box3
    </div>
    <div class="box" [style.backgroundColor]="clr">
        box4
    </div>
</div>
<div class="cntr">
    <input [type]="'text'" #cl (keyup)="clr=cl.value">
    <input type="button" [value]="'Okay'" (click)="onColor(cl.value)">
</div>
<div class="cntr">
    <input type="text" [(ngModel)]="clr">
</div>